/* THIS IS A STYLING SHEET */
body{
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
p{
    text-align: center;
    padding: 20px;
    margin: 50px;
    font-size: 18px;
    font-weight: lighter;
}
header{
    border-bottom: 4px orange solid;
    border-top: 4px orange solid;
    background-color: grey;
    text-align: center;
    padding: 15px;
    margin:0px;
}
img{
    width: 140px;
    height: 140px;
    float: left;
    border: 2px white solid;
    border-radius: 50%;
}
.menu{
    text-align: right;
    color: green;
    font-size: 13px;
    position: relative;
    font-weight: bold;
}
strong{
    color: brown;
    font-size: large;
}
.card1{
    width: 50%;
    height: 50%;
    background-color: black;
    color: aliceblue;
    border: 2px orange solid;
    padding:30px;
    margin: 70px;
    text-align: center;
    border-radius: 15%;
    font-size: 24px;
}
.card10{
    width: 50%;
    height: 50%;
    background-color: black;
    text-align: center;
    color: aliceblue;
    border: 4px orange solid;
    border-radius: 15%;
    margin: 70px;
    margin-top: 2px;
    padding: 50px;
    font-size: 24px;

}
.btn{
    color: blue;
    text-align: center;
    font-size: 17px;
}
.btn:hover{
    background-color: brown;
}
.card2{
    margin:10px;
    padding:10px;
}
.card21{
    margin: 10px;
    padding: 10px;
}
.card22{
    margin: 10px;
    padding: 10px;
}
.card3{
    width: 100%;
    padding-bottom: 2px;
    text-align: center;
    position: inherit;
    color: blue;
    padding:0px;
    bottom: 1%;
}
h3{
    text-align: center;
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}
footer{
    padding-bottom: 20px;
    position: static;
    background-color:white;
    padding-bottom: 25px;
    margin-top: 250px;
    width: 100%;
    border-top: 4px orange solid;
}
.platform{
    color: red;
    padding: 10px;
    margin: 10px;
}
.platform img{
    width: 2%;
    height: 2%;
}
#project{
    text-align: center;
    
}
#project img{
    width:4%;
    height: 4%;
    display: inline-block;
    margin: 0 auto;
    float: none;
}
.contact{
    text-align: center;
    padding: 5px;
    border: 3PX green solid;
    background-color: gainsboro;
    width: 20%;
    height: 30%;
    margin: 50px;
}
.required{
    color: red;
    font-weight: bold;
}
#skills{
    padding:5px;
    margin: 5px;
    text-align: center;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
#skills img{
    display: inline-block;
    margin: 0 auto;
    width: 7%;
    height: 7%;
    float: none;
}